/*
 * Allwinner Technology CO., Ltd. sun8iw18p1 std board.
 *
 * soc board support.
 */

/dts-v1/;

#include "sun8iw18p1.dtsi"

/{
	soc@03000000 {
		twi1: twi@0x05002400 {
			status = "okay";
			ad82584f:ad82584f@0{
				compatible = "ESMT, ad82584f";
				reg = <0x31>;
				/* The E-TSSOP-24L has no reset pin */
				/* reset_pin = <&pio PE 2 1 0 0 0>; */ 
				amp_en = <&pio PE 2 1 0 0 0>;
				status = "okay";
			};
		};

		spi1: spi@05011000 {
			status = "okay";
			ethernet@0 {
			    compatible = "davicom,dm9051";
			    reg = <0>; /* spi chip select */
			    local-mac-address = [00 00 00 00 00 00];
			    interrupt-parent = <&pio>;
			    interrupts = <PB 7 IRQ_TYPE_LEVEL_HIGH>; /*PB7 - intr, PB13 - n_reset */
			    reset-gpios = <&pio PB 13 1 1 1 1>;
			    spi-max-frequency = <40000000>;
			};
		};

		gpio_ir_rx {
			compatible = "allwinner,gpio-ir-rx";
			gpio-rx = <&pio PB 0 6 1 1 1>;
			status = "disabled";
		};

		gpio_ir_tx {
			compatible = "allwinner,gpio-ir-tx";
			gpio-tx = <&pio PB 1 1 1 1 1>;
			status = "disabled";
		};

		snddaudio0:sound@1 {
			status = "okay";
			sunxi,snddaudio-codec = "snd-soc-dummy";
			sunxi,snddaudio-codec-dai = "snd-soc-dummy-dai";
		};

		snddaudio1:sound@2 {
			status = "okay";
			sunxi,snddaudio-codec = "ad82584f.1-0031";
			sunxi,snddaudio-codec-dai = "ad82584f-dai";
		};

		gpio-keys {
			compatible = "gpio-keys";
			autorepeat;

			powerkey {
				label = "power_key";
				linux,code = <116>;
				gpios = <&pio PB 0 6 1 1 1>;
				wakeup-source;
			};

			wolkey {
				label = "wol_key";
				linux,code = <143>;
				gpios = <&pio PB 6 6 1 1 1>;
				wakeup-source;
			};
		};

	};

	cpu_opp_l_table0: opp_l_table0 {
		/* compatible = "operating-points-v2"; */
		compatible = "allwinner,opp_l_table0";
		opp_count = <3>;
		opp-shared;


		opp00 {
			opp-hz = /bits/ 64 <720000000>;
			opp-microvolt = <820000>;
			axi-bus-divide-ratio = <3>;
			clock-latency-ns = <2000000>;
		};
		opp01 {
			opp-hz = /bits/ 64 <1008000000>;
			opp-microvolt = <900000>;
			axi-bus-divide-ratio = <3>;
			clock-latency-ns = <2000000>;
		};

		opp02 {
			opp-hz = /bits/ 64 <1200000000>;
			opp-microvolt = <1000000>;
			axi-bus-divide-ratio = <3>;
			clock-latency-ns = <2000000>;
		};

		/*opp03 {
			opp-hz = /bits/ 64 <1512000000>;
			opp-microvolt = <1100000>;
			axi-bus-divide-ratio = <3>;
			clock-latency-ns = <2000000>;
		};*/
	};

	/*pwm config, use pwm to adapt volt; please cancel the comment
	 *polarity-> 0:NORMAL 1:INVERSED*/
	/*pwm_dvfs_info {
		period_ns = <50000>;
		polarity  = <0>;
		pwm_id    = <7>;
		vol_base  = <831000>;
		vol_max   = <1102000>;
	};*/

};
